<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Warp 9 Station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/media/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/media/css/bootswatch.min.css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Warp 9 Station</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/play/">Play</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://atzok.com/" target="_blank">ATZ OK</a></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
      {% block banner %}
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Warp 9 Station</h1>
            <p class="lead">A Multiplayer Space Station Management Sim, right in your browser</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/bootswatch.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
